.full{
    width: 100%;
}
.half{
    width: 50%;
    display: grid;
  height: left;
}
.half2{
    width: 50%;
    align-content: flex-end;
}
.container{
    width: 800px;
    background-color: rgb(31, 4, 183);
    color: black;
    border: 1px solid #c3c3c3;
    display: block;
    margin: 10px;
    align-items: center;
}
.heading {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    font-size: 50px;
    font-weight: bolder;
}